<!-- <div class="h2">shopping-list works!</div> -->
<div class="row">
  <div class="col-xs-10">
    <app-shopping-editor
      (shoppingListItemAdded)="addShoppingListElement($event)"
      (shoppingListCleared)="clearShoppingList()"></app-shopping-editor>
    <hr>
    <!-- <app-shopping-list></app-shopping-list> -->
    <ul class="list-group">
      <a
      class="list-group-item"
      style="cursor: pointer"
      *ngFor="let ingredient of ingredients"
      >
      {{ ingredient.name }} ({{ ingredient.amount }})
    </a>
    </ul>
  </div>
</div>
